#grey-panel {
  background-color: #f9f9f9;
  margin-top: 70px;
}

.panel-title {
  color: #000000;
}

#swamp {
  height: 120px;
  width: auto;
}

#queen {
  height: 160px;
  width: auto;
  float: right;
  margin: 0 0 20px 10px;
}

#ham-wall {
  margin: 0 10px 10px 0;
  float: left;
  font-size: 13px;
}

#green-panel {
  background-color: #f5fffa;
}

#blue-panel{
  background-color: #f5faff;
}

#red-title-color {
background-color: #f1cedd;
}

#red-body-color {
  background-color: #fff5fa;
}

#queen-div {
  float: right;
 
  width: auto;
}


#queen-ul {
  width: auto;
}

#queen-text {
 float: none;
}

#logo {
  width: 90%;
  height: 90%;
  margin: 70px 0 0 20px;
}

.navbar {
  margin: 0 0 0 200px;
}